<div class="container mt-5">
    
        <form #loginForm="ngForm" (ngsubmit)="login(loginForm)">
            <input type="text"
            ngModel
            name="Username"
            id="Username"
            placeholder="Enter your Username"
            class="form-control mb-3"
            >
        
            <input type="password"
            ngModel
            name="Password"
            id="Password"
            placeholder="Enter your Password"
            class="form-control mb-3"
            >

            <input type="submit"
            value="login"
            class="btn btn-outline-primary form-control rounded-0">
        </form>
 
</div>